/* Siempre se ponen al final los MEDIAQUERYS */
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: gray;
    color: yellow;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    padding:10px 20px;
}

header, section, nav{
    max-width:1200px ;
    /* min-width: 80px; */
    margin: auto;
}

header img{
    width: 100%;
}

/* section{
display: flex;
} */

div{
    background-color: rgb(10, 181, 181);

}

#grid-sec{
    display: grid;
    grid-template-rows: repeat(4 , 100px);
    grid-template-columns:repeat(4, 25%);
}

#grid-sec div{
    background-color: rgb(29, 214, 39);
    

}

#grid-sec2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 150px) ;
    
}

#grid-sec2 div{
    background-color: rgb(214, 112, 29);
    

}

#grid-sec2 #div2{
    background-color: cyan;
    grid-row:2/4;
    grid-column: 1/3;
}




#grid-sec3{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav'
    'aside main main main right'
    'asid  main main  main rigth'
    'footer footer footer footer footer'
    
    
    ;

    padding: 5px;
    
}

#item1{
    grid-area: nav;
}

#item2{
    grid-area: aside;
}

#item3{
    grid-area: main;
}

#item4{
    grid-area: rigth;
}

#item5{
    grid-area: footer;
}


#grid-sec3 div{
    background-color: rgb(234, 0, 255);
    

}










@media screen and (max-width:1000px){

    body{
        background-color: rgb(11, 31, 75);
    }


}
@media screen and(max-width: 500px) {
    
    body{
        background-color: red;
    }
    div{
        width: 100%;
    
    }

    section{
        display: block
    };
    
}

@media (min-width:501px) and (max-width:1000px){

    body{
        background-color: rgb(27, 232, 0);
    }

}